@import 'tailwindcss';

@theme {
  --color-brand-primary: oklch(0.4095 0.1318 255.18);
  --color-brand-primary-bold: oklch(0.638 0.1328 179.47);
  --color-brand-secondary: oklch(1 0 204.04);
  --color-brand-text-primary: oklch(1 0 337.57);
  --color-brand-text-secondary: oklch(0.4883 0.0835 205.88);
  --color-text-hover: oklch(0.9228 0.1142 126);
}

:root {
  font-family: Liberation Mono, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-brand-text-secondary);
  background-color: var(--color-brand-secondary);
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--color-text-hover);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 2rem;
  white-space: nowrap;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--color-brand-text-primary);
  background-color: var(--color-brand-primary);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--color-text-hover);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@layer utilities {

  body {
    @apply font-sans font-stretch-ultra-condensed font-semibold tracking-wide;
  }

  .navbar {
    @apply flex justify-around items-center bg-brand-primary h-24 text-brand-text-primary text-lg;
  }

  .auth-form {
    @apply flex flex-col gap-4 place-items-center p-22
  }

  input {
    @apply border border-brand-primary border-t-4 border-t-brand-primary-bold rounded-md p-2 outline-none focus:outline-none
    focus:ring-2 focus:ring-brand-secondary focus:border-t-brand-primary font-thin;
  }

  .auth-div {
    @apply flex flex-col md:flex-row gap-2 justify-center items-center;
  }

  .profile-form {
    @apply flex flex-col gap-4 place-items-center py-12
  }

  .profile-form-heading {
    @apply mb-6 font-bold text-2xl [font-variant-caps:small-caps];
  }

  .identity div {
    @apply flex flex-col mb-4 md:w-auto w-64
  }

  .identity div label {
    @apply mb-2
  }

  .identity textarea {
    @apply border border-brand-primary border-t-4 border-t-brand-primary-bold rounded-md p-2 outline-none focus:outline-none
    focus:ring-2 focus:ring-brand-secondary focus:border-t-brand-primary font-thin resize-none;
  }

  .visuals div {
    @apply flex flex-col gap-2
  }

  .avatar-input {
    @apply text-sm
  }
}
