@import 'tailwindcss';
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-brand-primary: oklch(0.9199 0.0789 218.65);;
  --color-brand-primary-bold: oklch(0.7745 0.1392 218.65);
  --color-brand-secondary: oklch(0.7382 0.1597 25.56);
  --color-brand-text-primary: oklch(0.2611 0 0);
  --color-brand-text-secondary: oklch(0.9333 0 149.82);
  --color-text-hover: oklch(0.9228 0.1142 126);
  --color-error: oklch(0.628 0.2577 29.23);
  --color-brand-black: oklch(0.4067 0 208.06);
  --color-brand-white: oklch(0.9852 0 0);
}

:root {
  font-family: Liberation Mono, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  /*--popover-foreground: oklch(0.145 0 0);*/
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

h1 {
  font-size: x-large;
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--color-text-hover);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.4rem 0.6rem;
  white-space: nowrap;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--color-brand-text-primary);
  background-color: var(--color-brand-primary);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--color-text-hover);
}

button:active {
  transform: scale(0.96);
  filter: brightness(0.9);
}


@layer utilities {

  body {
    @apply text-brand-text-primary font-sans font-stretch-ultra-condensed font-semibold tracking-wide;
  }

  .navbar {
    @apply flex justify-around items-center bg-brand-primary h-24 text-brand-text-primary text-lg;
  }

  .auth-form {
    @apply flex flex-col gap-4 place-items-center p-22
  }

  .auth-form div {
    @apply flex flex-col gap-2 md:w-72 w-56
  }

  input {
    @apply border-2 border-brand-primary rounded-md p-2 px-4 outline-none focus:outline-none
    focus:ring focus:ring-brand-primary-bold  text-brand-text-primary font-thin;
  }

  .error-input {
    @apply border-2 border-error
  }

  .error-message {
    @apply text-sm font-light text-error break-all;
  }

  .auth-div {
    @apply flex flex-col md:flex-row gap-2 justify-center items-center;
  }

  .profile-form {
    @apply flex flex-col gap-4 place-items-center py-12
  }

  .profile-form-heading {
    @apply mb-6 font-medium text-2xl;
  }

  .identity div {
    @apply flex flex-col mb-4 md:w-auto w-64
  }

  .identity div label {
    @apply mb-2
  }

  .identity textarea {
    @apply border-2 border-brand-primary rounded-md px-6 outline-none focus:outline-none
    focus:ring focus:ring-brand-primary-bold text-brand-text-primary
    font-thin resize-none;
  }

  .visuals div {
    @apply flex flex-col gap-2
  }

  .avatar-input {
    @apply text-sm
  }

  .profile-card-container {
    @apply flex justify-center
  }

  .profile-card {
    @apply flex flex-col gap-4 my-4 p-8 place-items-center w-80 md:w-xl rounded-4xl h-140 bg-brand-black text-brand-text-secondary;
  }

  .grid-container {
    @apply grid grid-cols-1 md:grid-cols-2 p-2 gap-6 place-items-center
  }
  /* effects */
  .all-effects-container {
    @apply flex
  }

  .effects-dropdown {
    @apply ml-auto m-4 p-2 bg-brand-white shadow-sm cursor-pointer hover:shadow-lg;
  }

  /* user avatar effects */
  .avatar-effects-container {
    @apply flex flex-col gap-6 m-6 bg-brand-black text-brand-text-secondary p-12 rounded-2xl;
  }

  .avatar-effects-card-container {
    @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 md:text-base text-xs place-items-center
  }

  .avatar-effect-card {
    @apply flex flex-col justify-center items-center
  }

  /* glow effects */
  .white-glow {
    @apply shadow-[0_0_20px_floralwhite]
  }

  /* user */
  .user-avatar-container {
    @apply relative rounded-full p-2 z-1;
  }

  .user-avatar-inner-container {
    @apply relative flex flex-col items-center justify-center rounded-full
  }

  .user-avatar {
    @apply z-1
  }

  .user-settings {
    @apply mt-auto ml-auto;
  }

  .user-nameplate {
    @apply p-2 flex items-center justify-around bg-brand-black text-brand-text-secondary mb-4 rounded-lg
  }

  .users-list {
    @apply w-80 md:w-96 lg:w-100 p-6 bg-brand-secondary rounded-md;
  }

  .user-offline-status {
    @apply rounded-full bg-brand-black border-gray-500;
  }

  /* chat */
  .chat-window-container-outer {
    @apply flex flex-col h-130 w-80 md:w-96 lg:w-100 bg-brand-text-primary text-brand-text-secondary;
  }

  .chat-window-selected-user {
    @apply flex gap-4 items-center bg-brand-primary text-brand-text-primary;
  }

  .chat-window-container {
    @apply flex-1 overflow-y-auto no-scrollbar;
  }

  .send-message-container {
    @apply flex gap-2 p-2 bg-brand-black top-0;
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}