@import 'tailwindcss';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: teal;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: #006d77;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 2rem;
  white-space: nowrap;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #ffffff;
  background-color: teal;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #1b263b;
    background-color: #1b263b;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@layer utilities {

  body {
    @apply font-sans font-stretch-ultra-condensed font-semibold tracking-wide;
  }

  .navbar {
    @apply flex justify-around items-center bg-teal-600 h-24 text-white text-lg;
  }

  .auth-form {
    @apply flex flex-col gap-4 place-items-center p-22
  }

  input {
    @apply border border-cyan-400 border-t-4 border-t-teal-600 rounded-md p-2 outline-none focus:outline-none
    focus:ring-2 focus:ring-teal-600 focus:border-t-cyan-800 font-thin;
  }

  .auth-div {
    @apply flex flex-col md:flex-row gap-2 justify-center items-center;
  }

  .profile-form {
    @apply flex flex-col gap-4 place-items-center py-12
  }

  .profile-form-heading {
    @apply mb-6 font-bold text-2xl [font-variant-caps:small-caps];
  }

  .identity div {
    @apply flex flex-col mb-4 md:w-auto w-64
  }

  .identity div label {
    @apply mb-2
  }

  .identity textarea {
    @apply border border-cyan-400 border-t-4 border-t-teal-600 rounded-md p-2 outline-none focus:outline-none
    focus:ring-2 focus:ring-teal-600 focus:border-t-cyan-800 resize-none font-thin;
  }

  .visuals div {
    @apply flex flex-col gap-2
  }

  .avatar-input {
    @apply bg-blue-950 text-white
  }
}
