@import 'tailwindcss';

:root {
  font-family: Segoe UI Symbol system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #1a1a1a;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: #d2d0ba;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #1b263b;
    background-color: #1b263b;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@layer utilities {
  .navbar {
    @apply flex justify-around items-center bg-[#343a40] h-24 text-amber-50;
  }
  .profile-form {
    @apply flex flex-col m-24 gap-4
  }
  .identity {
    @apply flex flex-col gap-2
  }
  .identity input {
    @apply flex m-2 bg-white text-black font-bold
  }
  .identity textarea {
    @apply flex bg-white text-black resize-none font-semibold
  }
  .visuals div {
    @apply flex flex-col gap-2
  }
  .avatar-input {
    @apply bg-blue-950 text-white
  }
}
